div#other-profile-page {
    margin-top: 120px;
    display: flex;
}

div#other-profile {
    width: 60%;
    padding: 30px;
    margin: 50px auto;
    display: flex;
    background-color: rgba(41, 9, 8, 0.611);
    color: white;
    border-radius: 10px;
}

div#other-profile > div.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#other-profile > div.img-container > img {
    width: 200px;
    height: 200px;
}

div#other-profile > div#basic-info {
    margin-left: 20px;
    width: 100%;
}

div#other-profile > div#basic-info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
