#post-list {
    margin: 50px auto;
    list-style-type: none;
    padding: 0;
    width: 600px;
    background-color: rgb(255, 255, 255);
}

#post-list > li {
    margin: 20px;
    margin-bottom: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

#post-list > li > .user-post {
    padding: 0 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#post-list > li > .user-post:hover {
    background-color: rgba(219, 208, 207, 0.404);
    border-radius: 10px;
}

#post-list > li > .user-post > .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-list > li > .user-post > h3 {
    margin-left: 15px;
}

#post-list #default-profile-pic {
    filter: invert(0);
}
