#search-results * {
    font-family: "Josefin Sans", sans-serif;
}

#search-results {
    position: absolute;
    width: 300px;
    top: 50px;
    background-color: rgba(132, 16, 13, 0.95);
    border-top: solid 5px white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#search-results.hidden {
    display: none;
}

#search-results > li > a {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#search-results > li > a:hover {
    background-color: rgba(219, 208, 207, 0.404);
    border-radius: 10px;
}

#search-results > li > a > div.img-container > img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 5px;
}
