#bio {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#bio > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio > div > h4 {
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

#bio > textarea {
    text-align: center;
    padding: 15px 0;
    resize: none;
    margin: 0;
    background-color: inherit;
    border: none;
    outline: none;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 15px;
}

#bio > textarea.on {
    color: black;
    background-color: white;
    outline: auto;
}

#bio > textarea::-webkit-scrollbar {
    width: 10px;
}

#bio > div > .button {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 5px;
}

#bio > #save-bio.button {
    display: flex;
}

#bio > #cancel-bio.button {
    display: flex;
}

#bio > div.button > img {
    margin-left: 10px;
    width: 20px;
    padding: 5px;
}

#bio > .button > img:hover {
    border-radius: 5px;
    background-color: rgba(29, 28, 28, 0.3);
}
