form.validation * {
    font-family: "Josefin Sans", sans-serif;
}

form.validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-height: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(132, 16, 13, 0.95);
    font-family: "Josefin Sans, sans-serif";
}

form.validation > h1 {
    text-align: center;
    color: white;
}

form.validation > .input-field {
    width: 90%;
}

form.validation > button {
    width: 65%;
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}

form.validation > h4 {
    color: white;
    text-align: center;
}

form.validation > h4 > p {
    margin: 0;
}

form.validation > h4 > p > a {
    text-decoration: none;
    color: rgb(109, 148, 233);
}

@media only screen and (max-width: 920px) {
    form.validation {
        width: 60%;
    }

    form.validation > .input-field {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    form.validation > .input-field {
        width: 70%;
    }
}

@media only screen and (max-width: 440px) {
    form.validation > .input-field {
        width: 80%;
    }
}
