form.validation * {
    font-family: "Josefin Sans", sans-serif;
}

form.validation {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(131, 27, 25, 0.81);
    font-family: "Josefin Sans, sans-serif";
}

form.validation > h1 {
    text-align: center;
    color: white;
}

form.validation > button {
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

form.validation > h4 {
    color: white;
    text-align: center;
}

form.validation > h4 > p {
    margin: 0;
}

form.validation > h4 > p > a {
    text-decoration: none;
    color: rgb(109, 148, 233);
}
