form#post-container {
    width: 600px;
    height: fit-content;
    position: relative;
    margin: 50px auto;
}

form#post-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(132, 16, 13, 0.95);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 80%);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 80%);
}

form#post-container > div > h2 {
    color: white;
    margin: 5px 10px;
}

form#post-container > div > #post-button {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: auto;
    font-size: 30px;
}

form#post-container > div > #post-button > button {
    border-radius: 5px;
    font-size: 18px;
}

form#post-container > textarea {
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    resize: none;
    overflow-y: visible;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    -webkit-box-shadow: 0px 20px 46px -18px rgb(0 0 0 / 80%);
    -moz-box-shadow: 0px 20px 46px -18px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 20px 46px -18px rgb(0 0 0 / 80%);
}

form#post-container > textarea::placeholder {
    color: rgb(99, 99, 99);
}

form#post-container > textarea::-webkit-scrollbar {
    width: 5px;
}
