form#post-container {
    width: 600px;
    /* height: 100px; */
    height: fit-content;
    position: relative;
    margin: 50px auto;
}

form#post-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: brown;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

form#post-container > div > h2 {
    color: white;
    margin: 5px 10px;
}

form#post-container > div > #post-button {
    margin-left: auto;
}

form#post-container > div > #post-button > button {
    border-radius: 10px;
    font-size: 18px;
}

form#post-container > textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
    overflow-y: visible;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
}

/* form#post-container > textarea::-webkit-scrollbar {
    width: 0;
} */
