#chat-bar {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 210px;
    width: 100%;
    height: 0px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

#chat-bar > li {
    position: relative;
    width: 240px;
    color: white;
    margin: 0 10px;
}
