#profile {
    width: 300px;
    height: 430px;
    padding: 30px;
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
}

#profile-pic {
    position: relative;
}

#profile-pic > .img-container {
    width: 200px;
    height: 200px;
}

#profile-pic > #edit-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic > #edit-profile-pic.off {
    visibility: hidden;
}

#profile-pic > #edit-profile-pic > img {
    width: 30%;
    height: 30%;
    filter: invert(1);
}

#profile.modalOn::before {
    content: "";
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c9;
}
