#profile * {
    color: black;
}

#profile {
    background-color: rgb(235, 235, 235);
    width: 300px;
    height: 430px;
    padding: 30px;
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.8);
}

#profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
}

#profile-pic > .img-container {
    width: 100%;
    height: 100%;
}

#profile-pic > #edit-profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic > #edit-profile-pic.off {
    visibility: hidden;
}

#profile-pic > #edit-profile-pic > img {
    width: 30%;
    height: 30%;
    filter: invert(1);
}

#profile.modalOn::before {
    content: "";
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c9;
}

#profile #profile-info {
    width: 100%;
}

#profile .plays {
    display: flex;
    align-items: center;
}

#profile .plays > h4 {
    margin: 0;
}

#profile > .plays > .music-skills-badges {
    align-self: flex-start;
}

@media only screen and (max-width: 1165px) {
    #profile {
        flex-direction: row;
        width: 60%;
        height: 200px;
    }

    #profile #profile-info {
        margin-left: 20px;
        width: 55%;
    }

    #profile #bio > div {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 660px) {
    #profile {
        width: 80%;
    }
}

@media only screen and (max-width: 585px) {
    #profile {
        width: 85%;
    }
}

@media only screen and (max-width: 465px) {
    #profile-pic {
        width: 150px;
        height: 150px;
    }

    #profile-info {
        width: 80%;
        height: 90%;
    }

    #profile-info h1 {
        margin: 0;
    }
}
