.input-field > span.empty {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding: 5px;
    margin: 2px;
    font-size: 15px;
    transition: 250ms;
}

.input-field input:focus + span {
    margin-top: -10px;
    padding-top: 0px;
    font-size: 10px;
    transition: 250ms;
}

.input-field span.full {
    margin-top: -10px;
    padding-top: 0px;
    font-size: 10px;
    transition: 250ms;
}

.input-field input {
    padding: 5px;
    padding-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}
