nav {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(41, 9, 8, 0.904);
    background-color: rgb(73, 18, 18);
    background-color: rgba(41, 9, 8, 0.611);
    padding: 10px 0;
}

nav > a {
    display: flex;
    width: 60px;
    height: 60px;
}

nav a > button {
    margin-left: 10px;
}

nav > a > div > img.profile-pic {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

nav > form.search {
    margin: 0 auto;
}

nav div.button {
    margin: 0 10px;
    height: 40px;
    padding: 10px;
}

nav div.button:hover {
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

nav div.button > img {
    color: white;
    filter: invert(1);
}
