nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(132, 16, 13, 0.95);
    padding: 10px 0;
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

nav > a > div > img.profile-pic {
    width: 50px;
    height: 50px;
}

nav #default-profile-pic {
    filter: invert(1);
}

nav > form.search {
    margin: 0 auto;
}

nav div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

nav div.button:hover {
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

nav div.button > img {
    color: white;
    filter: invert(1);
}

nav #logout {
    margin-right: 10px;
}

@media only screen and (max-width: 700px) {
    nav .music-skills,
    #friend-requests {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 550px) {
    nav .music-skills,
    #friend-requests,
    #logout {
        margin: 0;
    }

    nav > a {
        margin: 0;
    }
}
