form.search * {
    font-family: "Josefin Sans", sans-serif;
}

form.search {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
}

form.search > .input-field {
    height: 50px;
    margin: 0;
}
