form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    padding: 30px;
    background-color: purple;
    border-radius: 5px;
}

form > h1 {
    text-align: center;
    color: white;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

form > button {
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

form > h4 {
    color: white;
    text-align: center;
}

form > h4 > a {
    text-decoration: none;
    color: rgb(109, 148, 233);
}
